# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [11]:
import pandas as pd
import numpy as np

dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomalia_termica = pd.Series(dados)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [27]:
anomalia_termica_comIndex = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], index = ["1900","1920","1940","1960","1980","2000","2020"])
anomalia_termica_comIndex

pd.DataFrame({"Anomalia_termica": anomalia_termica_comIndex})

      Anomalia_termica
1900             -0.08
1920             -0.27
1940              0.12
1960             -0.03
1980              0.26
2000              0.40
2020              1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [32]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
dic_temperaturas

{1900: -0.08,
 1920: -0.27,
 1940: 0.12,
 1960: -0.03,
 1980: 0.26,
 2000: 0.4,
 2020: 1.02}

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [50]:
arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(arr)
display(df)

             0           1           2
0   101.871468   92.588073   84.922223
1    95.376003   92.964699   93.963453
2   100.927388  102.815823   87.080016
3    87.504567   90.054579   82.309222
4   121.251184   97.245321  111.945620
5    98.471984  101.365555   99.708891
6   102.628469  107.045919  106.550045
7   107.550536  113.925740  112.540791
8    86.482724  116.436493  111.989149
9    87.556483  107.149647  112.561411
10   91.572829  101.241172   86.811291
11   91.910533  111.713757   98.547289
12   87.204699  104.463660  104.447466
13   95.911119  103.775802  104.886254
14   97.089213   86.370712   93.888446
15   77.484326   85.699654   97.613823
16  108.886685  100.609884  101.898348
17   87.511547  102.006867  105.536072
18   96.786783   97.513137   96.346007
19  105.198915   84.910091   99.334012

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [57]:
df.rename(columns= {0: "x1", 1: "x2", 2: "x3"}, inplace = True)
display(df)

            x1          x2          x3
0   101.871468   92.588073   84.922223
1    95.376003   92.964699   93.963453
2   100.927388  102.815823   87.080016
3    87.504567   90.054579   82.309222
4   121.251184   97.245321  111.945620
5    98.471984  101.365555   99.708891
6   102.628469  107.045919  106.550045
7   107.550536  113.925740  112.540791
8    86.482724  116.436493  111.989149
9    87.556483  107.149647  112.561411
10   91.572829  101.241172   86.811291
11   91.910533  111.713757   98.547289
12   87.204699  104.463660  104.447466
13   95.911119  103.775802  104.886254
14   97.089213   86.370712   93.888446
15   77.484326   85.699654   97.613823
16  108.886685  100.609884  101.898348
17   87.511547  102.006867  105.536072
18   96.786783   97.513137   96.346007
19  105.198915   84.910091   99.334012

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [59]:
df["Media"] = df["x1"] + df["x2"] + df["x3"] / 3
df

            x1          x2          x3       Media
0   101.871468   92.588073   84.922223  222.766948
1    95.376003   92.964699   93.963453  219.661853
2   100.927388  102.815823   87.080016  232.769883
3    87.504567   90.054579   82.309222  204.995553
4   121.251184   97.245321  111.945620  255.811712
5    98.471984  101.365555   99.708891  233.073836
6   102.628469  107.045919  106.550045  245.191070
7   107.550536  113.925740  112.540791  258.989873
8    86.482724  116.436493  111.989149  240.248933
9    87.556483  107.149647  112.561411  232.226600
10   91.572829  101.241172   86.811291  221.751098
11   91.910533  111.713757   98.547289  236.473386
12   87.204699  104.463660  104.447466  226.484180
13   95.911119  103.775802  104.886254  234.649005
14   97.089213   86.370712   93.888446  214.756073
15   77.484326   85.699654   97.613823  195.721921
16  108.886685  100.609884  101.898348  243.462685
17   87.511547  102.006867  105.536072  224.697105
18   96.786783   97.513137   96.346007  226.415256
19  105.198915   84.910091   99.334012  223.220344

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [63]:
import math

df["log_med"] = df["Media"].apply(lambda x: math.log(x))
df

            x1          x2          x3       Media   log_med
0   101.871468   92.588073   84.922223  222.766948  5.406126
1    95.376003   92.964699   93.963453  219.661853  5.392089
2   100.927388  102.815823   87.080016  232.769883  5.450050
3    87.504567   90.054579   82.309222  204.995553  5.322988
4   121.251184   97.245321  111.945620  255.811712  5.544442
5    98.471984  101.365555   99.708891  233.073836  5.451355
6   102.628469  107.045919  106.550045  245.191070  5.502038
7   107.550536  113.925740  112.540791  258.989873  5.556789
8    86.482724  116.436493  111.989149  240.248933  5.481676
9    87.556483  107.149647  112.561411  232.226600  5.447714
10   91.572829  101.241172   86.811291  221.751098  5.401556
11   91.910533  111.713757   98.547289  236.473386  5.465836
12   87.204699  104.463660  104.447466  226.484180  5.422675
13   95.911119  103.775802  104.886254  234.649005  5.458091
14   97.089213   86.370712   93.888446  214.756073  5.369503
15   77.484326   85.699654   97.613823  195.721921  5.276695
16  108.886685  100.609884  101.898348  243.462685  5.494964
17   87.511547  102.006867  105.536072  224.697105  5.414753
18   96.786783   97.513137   96.346007  226.415256  5.422371
19  105.198915   84.910091   99.334012  223.220344  5.408159